In [38]:
import os

os.environ["JAVA_HOME"]= "C:\Program Files\Java\jdk1.8.0_333"
os.environ["SPARK_HOME"]="C:\spark\spark-3"

In [39]:
import findspark
findspark.init()

In [40]:
from pyspark import SparkContext
sc =SparkContext.getOrCreate()

In [41]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [42]:
spark

In [44]:
df1 = spark.read.options( inferSchema=True, header=True) \
            .csv("dataa.csv")
df1.show()

+-------+--------+-------------------+------+-----------+----------------+------+--------+
|measure|quantile|               area|   sex|        age|       geography|ethnic|   value|
+-------+--------+-------------------+------+-----------+----------------+------+--------+
|     lx|   2.50%|01 Northland region|Female|    0 years|Regional council| Total|100000.0|
|     lx|   2.50%|01 Northland region|Female|  1-4 years|Regional council| Total| 99427.0|
|     lx|   2.50%|01 Northland region|Female|  5-9 years|Regional council| Total| 99331.0|
|     lx|   2.50%|01 Northland region|Female|10-14 years|Regional council| Total| 99276.0|
|     lx|   2.50%|01 Northland region|Female|15-19 years|Regional council| Total| 99198.0|
|     lx|   2.50%|01 Northland region|Female|20-24 years|Regional council| Total| 99012.0|
|     lx|   2.50%|01 Northland region|Female|25-29 years|Regional council| Total| 98762.0|
|     lx|   2.50%|01 Northland region|Female|30-34 years|Regional council| Total| 98518.0|
|     lx|   2.50%|01 Northland region|Female|35-39 years|Regional council| Total| 98205.0|
|     lx|   2.50%|01 Northland region|Female|40-44 years|Regional council| Total| 97818.0|
|     lx|   2.50%|01 Northland region|Female|45-49 years|Regional council| Total| 97235.0|
|     lx|   2.50%|01 Northland region|Female|50-54 years|Regional council| Total| 96195.0|
|     lx|   2.50%|01 Northland region|Female|55-59 years|Regional council| Total| 94602.0|
|     lx|   2.50%|01 Northland region|Female|60-64 years|Regional council| Total| 92472.0|
|     lx|   2.50%|01 Northland region|Female|65-69 years|Regional council| Total| 89231.0|
|     lx|   2.50%|01 Northland region|Female|70-74 years|Regional council| Total| 85001.0|
|     lx|   2.50%|01 Northland region|Female|75-79 years|Regional council| Total| 78449.0|
|     lx|   2.50%|01 Northland region|Female|80-84 years|Regional council| Total| 67374.0|
|     lx|   2.50%|01 Northland region|Female|85-89 years|Regional council| Total| 50349.0|
|     lx|   2.50%|01 Northland region|Female|   90 years|Regional council| Total| 28811.0|
+-------+--------+-------------------+------+-----------+----------------+------+--------+
only showing top 20 rows

In [45]:
df1.printSchema()

root
 |-- measure: string (nullable = true)
 |-- quantile: string (nullable = true)
 |-- area: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- geography: string (nullable = true)
 |-- ethnic: string (nullable = true)
 |-- value: double (nullable = true)

In [46]:
dataframe2 = spark.read.option("header",True) \
              .csv("test.csv")
dataframe2.show()

+------+--------------+----------+----+----+
|MsCode|       HECCode|  Estimate| RSE|Flag|
+------+--------------+----------+----+----+
|  M003|   Total Gross|2441552500|null|   R|
|  M003|     Total Net|2370610600|null|   R|
|  M003|            01| 410549200|null|   R|
|  M003|          01.1|  41365600|null|   R|
|  M003|       01.1.01|  16868800|null|   R|
|  M003|     01.1.01.1|   2116800|null|   R|
|  M003|   01.1.01.1.0|   2116800|null|   R|
|  M003|01.1.01.1.0.01|    662000|null|   R|
|  M003|01.1.01.1.0.02|    275800|null|   R|
|  M003|01.1.01.1.0.03|   1083300|null|   R|
|  M003|01.1.01.1.0.04|     18900|null|   L|
|  M003|01.1.01.1.0.05|     31500|null|   L|
|  M003|01.1.01.1.0.06|     44800|null|   L|
|  M003|01.1.01.1.0.99|      null|null|   S|
|  M003|     01.1.01.2|   2795500|null|   R|
|  M003|   01.1.01.2.0|   2795500|null|   R|
|  M003|01.1.01.2.0.01|   2795500|null|   R|
|  M003|     01.1.01.3|   2468300|null|   R|
|  M003|   01.1.01.3.0|   2468300|null|   R|
|  M003|01.1.01.3.0.01|   1889600|null|   R|
+------+--------------+----------+----+----+
only showing top 20 rows

In [48]:
pandas_df = dataframe2.toPandas()
pandas_df.head()

  MsCode      HECCode    Estimate   RSE Flag
0   M003  Total Gross  2441552500  None    R
1   M003    Total Net  2370610600  None    R
2   M003           01   410549200  None    R
3   M003         01.1    41365600  None    R
4   M003      01.1.01    16868800  None    R

In [ ]:
import csv

with open('lastfm.txt', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(",") for line in stripped if line)
    with open('lastfm.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerows(lines)

In [49]:
df = spark.read.options(sep=';', inferSchema=True, header=True) \
            .csv("C:/Users/Cloud 01/Desktop/big data/data.csv")

df = df.toPandas()
df.head()

            id    name  gender facebook   _c4
0  2,13555E+11  Khaled    male     None  None
1  2,13555E+11  Sidibe    male     None  None
2  2,13555E+11   Badie    male     None  None
3  2,13555E+11     Ali  female     None  None
4  2,13555E+11     Bou  female     None  None

In [51]:
from pyspark.sql.functions import col 

df = df.where((col("name") == "Ali") & (col("Gender") == "male"))
print (df)

Py4JJavaError: An error occurred while calling o309.notEqual.
: java.lang.RuntimeException: Unsupported literal type class java.util.ArrayList [1048575, 5]
	at org.apache.spark.sql.catalyst.expressions.Literal$.apply(literals.scala:90)
	at org.apache.spark.sql.catalyst.expressions.Literal$.$anonfun$create$2(literals.scala:152)
	at scala.util.Failure.getOrElse(Try.scala:222)
	at org.apache.spark.sql.catalyst.expressions.Literal$.create(literals.scala:152)
	at org.apache.spark.sql.functions$.typedLit(functions.scala:131)
	at org.apache.spark.sql.functions$.lit(functions.scala:114)
	at org.apache.spark.sql.Column.notEqual(Column.scala:353)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)